<aside th:fragment="sidebar" class="left-sidebar with-vertical">
    <a type="button" class="brand-link text-center active" style="text-decoration: none" id="opcionInicial"> 
        <span class="brand-text font-weight-light">Menu Principal</span>
    </a>
    <nav class="sidebar-nav scroll-sidebar" data-simplebar>
        <ul id="sidebarnav" class="px-2">
            <li class="nav-small-cap">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">INICIO</span>
            </li>
            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMNISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">ADMINISTRADOR</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesAdminPersona" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Personal</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesAdminUsuario" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción USUARIO</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMNISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">GENERAR QR</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesGenerarQR" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Generar QR</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item"  th:if="${session.nombre_rol == 'ADMNISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'ESCANEADOR'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">ENTRADAS QR</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesEscanearQR" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Escanear QR</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesListarQR" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción de Entradas</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <script>
        var botonPulsado;
        $(document).ready(function(){
            botonPulsado = document.getElementById("opcionInicial");
            $("#opcionesAdminRol").click(function (e){
                e.preventDefault();
                cargarContenido("/vista-rol");
                if (botonPulsado.classList.contains("active")) {
                    botonPulsado.classList.remove("active");
                }
                botonPulsado = document.getElementById("opcionesAdminRol");
                botonPulsado.classList.add("active");
            });

            $("#opcionesAdminUsuario").click(function (e){
                e.preventDefault();
                cargarContenido("/administrar_usuario");
                if (botonPulsado.classList.contains("active")) {
                    botonPulsado.classList.remove("active");
                }
                botonPulsado = document.getElementById("opcionesAdminUsuario");
                botonPulsado.classList.add("active");
            });

            $("#opcionesAdminPersona").click(function (e){
                e.preventDefault();
                cargarContenido("/vista_persona");
                if (botonPulsado.classList.contains("active")) {
                    botonPulsado.classList.remove("active");
                }
                botonPulsado = document.getElementById("opcionesAdminPersona");
                botonPulsado.classList.add("active");
            });

            $("#opcionesListarQR").click(function (e){
                e.preventDefault();
                cargarContenido("/listar_qr");
                if (botonPulsado.classList.contains("active")) {
                    botonPulsado.classList.remove("active");
                }
                botonPulsado = document.getElementById("opcionesListarQR");
                botonPulsado.classList.add("active");
            });

            $("#opcionesGenerarQR").click(function (e){
                e.preventDefault();
                cargarContenido("/entradas/generarQr");
                if (botonPulsado.classList.contains("active")) {
                    botonPulsado.classList.remove("active");
                }
                botonPulsado = document.getElementById("opcionesGenerarQR");
                botonPulsado.classList.add("active");
            });

            $("#opcionesEscanearQR").click(function (e){
                e.preventDefault();
                cargarContenido("/entradas/validacion");
                if (botonPulsado.classList.contains("active")) {
                    botonPulsado.classList.remove("active");
                }
                botonPulsado = document.getElementById("opcionesEscanearQR");
                botonPulsado.classList.add("active");
            });

            function cargarContenido(url) {
                const miDiv = document.getElementById("main-content");
                miDiv.removeAttribute("style");
                $.ajax({
                    url: url,
                    method: "GET",
                    success: function (data) {
                        $("#main-content").html(data);
                        miDiv.setAttribute("style", "opacity: 1; width: 100%; transition: all 0.5s ease-out;"
                        );
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log("Error al cargar contenido: " + textStatus + " " + errorThrown);
                        Swal.fire("Error", "No se pudo cargar el contenido.", "error");
                    }
                });
            }
        });
    </script>
</aside>