
<aside th:fragment="sidebar" class="left-sidebar with-vertical">
    <a type="button" class="brand-link text-center active" style="text-decoration: none" id="opcionInicial"> 
        <span class="brand-text font-weight-light">Menu Principal</span>
    </a>
    <nav class="sidebar-nav scroll-sidebar" data-simplebar>
        <ul id="sidebarnav" class="px-2">


            <li class="nav-small-cap">
                <iconify-icon icon="solar:menu-dots-bold" class="nav-small-cap-icon fs-4"></iconify-icon>
                <span class="hide-menu">INICIO</span>
            </li>

            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMNISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">ADMINISTRADOR</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesAdminPersona" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción Personal</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesAdminUsuario" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción USUARIO</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item" th:if="${session.nombre_rol == 'ADMNISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">GENERAR QR</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesGenerarQR" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Generar QR</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item"  th:if="${session.nombre_rol == 'ADMNISTRADOR' or session.nombre_rol == 'SUPER USUARIO' or session.nombre_rol == 'ESCANEADOR'}">
                <a class="sidebar-link has-arrow" type="button" aria-expanded="false">
                    <span class="d-flex">
                        <iconify-icon icon="solar:widget-4-line-duotone"></iconify-icon>
                    </span>
                    <span class="hide-menu">ENTRADAS QR</span>
                </a>
                <ul aria-expanded="false" class="collapse first-level">
                    <li class="sidebar-item">
                        <a id="opcionesEscanearQR" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Escanear QR</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a id="opcionesListarQR" type="button" class="sidebar-link">
                            <iconify-icon icon="solar:stop-circle-line-duotone"></iconify-icon>
                            <span class="hide-menu">Administarción de Entradas</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <script>
        $(document).ready(function(){
            var botonPulsado;
            botonPulsado = document.getElementById("opcionInicial");

            function inicializarSidebar() {
                $('.has-arrow').off('click').on('click', function (e) {
                    e.preventDefault();

                    let submenu = $(this).next('ul');
                    let parentItem = $(this).parent();

                    if (parentItem.hasClass('active')) {
                        submenu.slideUp();
                        parentItem.removeClass('active');
                    } else {
                        $('.sidebar-item.active').not(parentItem).removeClass('active').children('ul').slideUp();
                        submenu.slideDown();
                        parentItem.addClass('active');
                    }
                });
            }

            function cargarContenido(url) {
                $.ajax({
                    url: url,
                    method: 'GET',
                    success: function(data) {
                        $('#main-content').html(data);
                        inicializarSidebar();
                    },
                    error: function(xhr, status, error) {
                        console.error("Error al cargar el contenido:", error);
                    }
                });
            }

            $("#opcionesAdminRol").click(function (e){
                e.preventDefault();
                cargarContenido("/vista-rol");
                actualizarActivo("#opcionesAdminRol");
            });

            $("#opcionesAdminUsuario").click(function (e){
                e.preventDefault();
                cargarContenido("/administrar_usuario");
                actualizarActivo("#opcionesAdminUsuario");
            });

            $("#opcionesAdminPersona").click(function (e){
                e.preventDefault();
                cargarContenido("/vista_persona");
                actualizarActivo("#opcionesAdminPersona");
            });

            $("#opcionesListarQR").click(function (e){
                e.preventDefault();
                cargarContenido("/listar_qr");
                actualizarActivo("#opcionesListarQR");
            });

            $("#opcionesGenerarQR").click(function (e){
                e.preventDefault();
                cargarContenido("/entradas/generarQr");
                actualizarActivo("#opcionesGenerarQR");
            });

            $("#opcionesEscanearQR").click(function (e){
                e.preventDefault();
                cargarContenido("/entradas/validacion");
                actualizarActivo("#opcionesEscanearQR");
            });

            function actualizarActivo(selector) {
                if (botonPulsado && botonPulsado.classList.contains("active")) {
                    botonPulsado.classList.remove("active");
                }
                botonPulsado = document.querySelector(selector);
                botonPulsado.classList.add("active");
            }

            inicializarSidebar();
        });
    </script>
</aside>