<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
    <head th:replace="~{layout/head :: head}" ></head>
    <body>
        <div th:replace="~{layout/preloader :: preloader}"></div>
        <div id="main-wrapper">
            <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
            <div class="page-wrapper">
                <header th:replace="~{layout/topbar :: topbar}"></header>
                <div class="body-wrapper">
                    <div class="container-fluid mw-100">
                        <div th:replace="~{layout/card-modulo :: cardFragment('Bienvenido al Sistema...!', 'Inicio', '/vista-administrador', 'Inicio')}">
                        </div>
                        <div id="main-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{layout/script :: script}"></div>
    </body>
</html>